<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= h1_title %></h1>
    <div class="product-detail">
      <form action="<% '/users/edit/' + edit_data.product_name %>" method="POST">
        <label>Product Name</label>
        <input type="text" placeholder="Enter Product Name" name="product_name" required value="<%= edit_data.product_name %>">
        <label>Price</label>
        <input type="text" placeholder="Enter Price" name="price" required value="<%= edit_data.price %>">
        <label>Amount</label>
        <input type="text" placeholder="Enter Amount" name="amount" required value="<%= edit_data.amount %>">
        <label>Shop Name</label>
        <input type="text" placeholder="Enter shop name" name="shop_name" required value="<%= edit_data.shop_name %>">
        
        <button type="submit">Submit</button>
      </div>
  </body>
</html>
