<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= h1_title %></h1>
    <h2><%= h2_title %></h2>
      <%
      if (userData.rowCount ==0)
      {
      %>
          <p>No Data Found</p>
      <%
      } 
      else 
      { 
        //Display table header
      %>
      <table border="1">
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Shop Name</th>
            <th>Edit/Insert</th>
            <th>Delete</th>
        </tr>
      <%
        //Display table rows
        userData.rows.forEach(function(row)
        {
      %>
        <tr>
          <td><%=row.product_name %></td>
          <td><%=row.price %></td>
          <td><%=row.amount %></td>
          <td><%=row.shop_name %></td>
          <td><a href="/users/edit/<%=row.product_name%>">Edit</a></td>
          <td><a href="/users/delete/<%=row.product_name%>">Delete</a></td>
        </tr>
      <%
        });
      }
      %>
        <tr>
          <td></td><td></td><td></td><td></td>
          <td><a href="/users/insert">Insert</a></td>
          <td></td>
        </tr>
      </table>
  </body>
</html>
